Django==1.6.1
amqp==1.4.2
anyjson==0.3.3
apiclient==1.0.2
billiard==3.3.0.14
celery==3.1.8
django-celery==3.1.1
django-crispy-forms==1.4.0
gdata==2.0.18
google-api-python-client==1.2
httplib2==0.8
kombu==3.0.10
psycopg2==2.5.2
pytz==2013.9
urllib3==1.7.1
wsgiref==0.1.2
