Django==1.6.1
MySQL-python==1.2.5
South==0.8.4
amqp==1.4.2
anyjson==0.3.3
apiclient==1.0.2
billiard==3.3.0.14
django-async==0.5.4
django-celery==3.1.1
django-crispy-forms==1.4.0
django-twisted==0.1.0
gdata==2.0.18
google-api-python-client==1.2
httplib2==0.19.0
kombu==3.0.10
lockfile==0.9.1
git+https://github.com/treyhunner/names.git
pytz==2013.9
selenium==2.39.0
simplejson==3.3.2
urllib3==1.7.1
wsgiref==0.1.2
