<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Automaton{% endblock %}</title>
    <link href="{{ STATIC_URL }}css/uni-form.css" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ STATIC_URL }}css/custom.uni-form.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/uni-form-validation.jquery.min.js"></script>
</head>
<body>
    {% block body %}
    {% endblock %}
    <script>
      $(function(){
        $('form.uniForm').uniform();
      });
    </script>
</body>
</html>